<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
   <title>Ergo Testnet Faucet</title>
 </head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message[1] }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="" method="post">
    {{ form.csrf }}

<div class="input address">
    {{ form.address.label }}{{ form.address }}
</div>

<div class="input amount">
    {{ form.amount.label }}{{ form.amount }}
</div>

<div class="input submit">
    {{ form.submit }}
</div>

</form>
</body>
</html>
